<h3 class="pt-5"> Events </h3>


<div class="pl-2 py-5">  
  <%- @events.in_groups_of(3, false).each do |events| %>
    <div class="row">
      <%- events.each do |event| %>
        
          <%= link_to event.organization, class: 'col-md-3' do %>
            <div class=" event-box">
              <div class="thumbnail">
                <div class="caption">
                  <h3 class="event-title"><%= event.title %></h3>
                  <h4><%= event.starts_at.strftime("%b %d") %></h4>
                  <p class="event-description"><%= event.description %></p>
                  
                  <p><i class="fa fa-map-marker markers"></i><%= event.organization.name %>
                </div>
                </div>
              </div>
          <% end %>
      <% end %>
    </div>
  <% end %>
</div>
