<p id="notice"><%= notice %></p>

<h3>
  <%= @organization.name %>
</h3>
<p>
  <%= @organization.description %>
</p>


<div id="map"></div>





<h3 class="py-5"> Explore </h3>
<div class="pl-2 py-5">  
  <%- @organization.items.in_groups_of(2, false).each do |items| %>
    <div class="row">
      <%- items.each do |item| %>
        <div class="col-md-6 vr-box">
          <%= item.content.html_safe %>
          <div class="row">
            <div class="col-md-8">
              <p><%= item.name %></p>
            </div>
            <div class="col-md-4">
              <%= link_to item.organization.name, item.organization %>
            </div>
            </div>
        </div>
      <% end%>
      </div>
  <% end %>
</div>



<script>
var map;
function initMap() {
  map = new google.maps.Map(document.getElementById("map"), {
    center: { lat: <%= @organization.latitude %>, lng: <%= @organization.longitude %> },
    zoom: 8
  });
}
</script>